@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

html {
    background-color: #FFFFFF;
}

.slideshow{
    display: flex; 
    flex-direction: column;
    justify-content: center !important;
    padding-top: 90px;
    -webkit-align-items: center;
    height: 400px;
}

@media only screen and (min-width: 1500px) {
    .slideshow{
        padding-top: 200px;
   }
}

#myImage{
    object-fit: cover;
    border-radius: 10px;
    min-width: 300px;
    max-width: 50%;
    -webkit-box-shadow: 2px 2px 26px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 2px 26px -7px rgba(0,0,0,0.64);
    box-shadow: 2px 2px 26px -7px rgba(0,0,0,0.64);
}

#caption{
    font-family: 'Cormorant Garamond', serif;
}